[["clean-site-1" :site/url "https://www.cleanharbors.com" 1 :add]
 ["clean-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["clean-site-1" :site/http-status 200 1 :add]
 ["clean-site-1" :site/title "Environmental and Industrial Services | Clean Harbors" 1 :add]
 ["clean-site-1" :site/description "Everywhere industry meets environment, Clean Harbors is on-site, providing premier environmental and industrial services." 1 :add]]
